<!doctype html>
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<form action="http://127.0.0.1:5000/q" method="post" class="m-5">
  <div class="form-group">
    <label for="name">Имя пацента</label>
    <input class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="ФИО">
  </div>
  
  <label>Возраст</label>
  <div class="form-row">
      <div class="col">
        <div class="form-group">
            <input class="form-control" name="age_min" id="age_min" placeholder="14">
          <small class="form-text text-muted">от</small>
        </div>
    </div>
        <div class="col">
        <div class="form-group">
            <input class="form-control" name="age_max" id="age_max" placeholder="35">
          <small class="form-text text-muted">до</small>
        </div>
    </div>
  </div>
  
  <label>Продолжительность лечения</label>
  <div class="form-row">
      <div class="col">
        <div class="form-group">
            <input class="form-control" name="therapy_duration_min" id="therapy_duration_min" placeholder="1">
          <small class="form-text text-muted">от</small>
        </div>
    </div>
        <div class="col">
        <div class="form-group">
            <input class="form-control" name="therapy_duration_max" id="therapy_duration_max" placeholder="8">
          <small class="form-text text-muted">до</small>
        </div>
    </div>
  </div>
  
  <label>Эффективность лечения</label>
  <div class="form-row">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="is_effective" id="gridRadios1" value="any" checked>
          <label class="form-check-label" for="gridRadios1">
            Не важно
          </label>
        </div>
        <div class="form-check ml-3">
          <input class="form-check-input" type="radio" name="is_effective" id="gridRadios2" value="yes">
          <label class="form-check-label" for="gridRadios2">
            Эффективно
          </label>
        </div>
        <div class="form-check ml-3">
          <input class="form-check-input" type="radio" name="is_effective" id="gridRadios3" value="no">
          <label class="form-check-label" for="gridRadios3">
            Не эффективно
          </label>
        </div>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="avg_before" value="1" id="avg_before">
        <label class="form-check-label" for="avg_before">Среднее значение до терапии</label>
  </div>
  <div class="form-check">
        <input type="checkbox" class="form-check-input" name="avg_after" value="1" id="avg_after">
        <label class="form-check-label" for="avg_after">Среднее значение после терапии</label>
  </div>
  <button type="submit" class="btn btn-primary">Искать</button>
</form>
